<div class="table-wrapper">
    <div class="row">
      <div class="col-lg-6">
        <h2>Listado de Espacios</h2>
      </div>
  
      <div class="col-lg-6" style="text-align: right">
        <button mat-raised-button color="primary" routerLink="/admin/espacios/new">Nuevo</button>
      </div>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <!-- estacionamiento Column -->
      <ng-container matColumnDef="estacionamiento">
        <th mat-header-cell *matHeaderCellDef>Estacionamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.estacionamiento }}</td>
      </ng-container>
  
      <!-- piso Column -->
      <ng-container matColumnDef="piso">
        <th mat-header-cell *matHeaderCellDef>Piso</th>
        <td mat-cell *matCellDef="let element">{{ element.piso }}</td>
      </ng-container>
  
      <!-- numero Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
      </ng-container>

       <!-- numero Column -->
       <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
      </ng-container>     
  
      <!-- Phone Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <a class="pointer" style="color: #1878b0">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" style="color: #e15639">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>